.header-page-container {
    width: 375px;
    height: 40px;
    border: solid 1px black;
    background-color: #74a174;
    position: fixed;
    top: 0px;
    z-index: 10;
    text-align: center;
}

.header-page-object {
    font-size: 20px;
}